POSTGRES_USER=periferia
POSTGRES_PASSWORD=periferia
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
POSTGRES_DB=periferia_social
DATABASE_URL=postgresql://periferia:periferia@postgres-db:5432/periferia_social?schema=public
API_PORT=3000
FRONTEND_PORT=5173
JWT_SECRET=supersecreto_dev
NODE_ENV=development
DOCKER_RESTART_POLICY=unless-stopped

